body {
  width:300px;
  padding:20px;
  margin: 0;
  font-family: sans-serif;
  background-color: #5d306d;
  color: #d6d3dc;
}

a{
  padding:2px 0;
  width:88%;
  color: #ccb0e9;
  text-decoration:none;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  float:left;
}


#main, #favorite{
  display:none;
}

#main.current, #favorite.current{
 display:block;
}

.go-to-favorite, .back-to-main{
  cursor:pointer;
}


.go-to-favorite:hover, .back-to-main:hover{
  color:white;
}





a:hover{
  color: #dfc2ff;
}

/*UserInfo component */
.log-in-out{
 margin:10px;
}


.user-info{
  width:150px;
  padding:10px;
}

.user-photo{
  width:25px; height:25px;
  border-radius:50%;
}

.user-email{
  height:25px;
  margin-top:5px;
  float:right;
}



/*Search component*/
.search{
  padding-top:10px;
  border-top:2px ridge #7d4193;
  width:100%;
}

.search-in-this-page{}
.search-btn-comp{}
.search-btn{
  height: 30px;
  background: #8884b1;
  color: white;
  border-radius: 5px;
  margin:20px auto;
}

.search-btn.dis{
  background: #d6d3dc;
  color: #eeeeee;
}

.search-or{
  height:20px;
  text-align:center;
}
.search-input{
  width:93%;
  margin-bottom:10px;
}

/*Result component*/
.result-list{
  padding:5px;
}

.result-entry{
  width:100%;
  padding:2px 0;
}

.no-result-entry{
  font-size:15px;
  text-align:center;
  color: #fff4d6;
}

.result-entry:after{
  content:"";
  display:block;
  clear:both;
}

.view-more{
  margin:10px 0;
  cursor:pointer;
  text-decoration: underline;
}

.star {
  width:6%;
  float:left;
  color: grey;
}

.star:hover{
  cursor:pointer;
  color: #cdc587;
}

.star.true{
  color:orange;
}

/*favorite component*/

.favorite{
  padding-top:10px;
  border-top:2px ridge #7d4193;
  width:100%;
}

.favorite-list{
  width:100%;
}

.favorite-entry{
  width:100%;
  height:20px;
  padding:2px 0;
}