body {
  width:300px;
  padding:20px;
  margin: 0;
  font-family: sans-serif;
}

.App{
  padding:20px;
  margin:-20px;
  font-family: 'Ubuntu Mono', monospace;
}

.App.Intro{
  background-color: #006d4a;
  color: #e2ffff;
}

.App.IMSLP{
  background: url("../src/background-classic.png") no-repeat fixed ;
  color: #eee8e5;
}

.App.MuseScore{
  background: url("../src/background-nonclassic.png") no-repeat fixed ;
  color:  #eee8e5;
}


h1,h2{
  font-family: 'Pacifico', cursive;
}

h1.MuseScore{
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

a{
  padding:2px 0;
  width:88%;
  text-decoration:none;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  float:left;
  color:#006d4a;
}

ul{
  list-style:none;
}

li{
  cursor:pointer;
  font-size:15px;
  margin-bottom:10px;
  vertical-align: baseline;
}


li:hover{
  text-decoration:underline;
}

#main, #favorite, #intro{
  display:none;
}

#main.current, #favorite.current, #intro.current{
  display:block;
}

/*intro */
.intro-select{
  padding:15px;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
}


.go-to-favorite {
  padding:10px;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
}

.back-to-main{
  padding-bottom:10px;
  border-bottom:1px solid #dbe5ff;
}

.go-to-favorite:hover, .back-to-main:hover{
  color:white;
  cursor:pointer;
}


a:hover{
  color: #008e60;
}

/*UserInfo component */



.user-info{
  width:150px;
  padding:10px;
}

.user-photo{
  width:25px; height:25px;
  border-radius:50%;
}

.user-email{
  height:25px;
  margin-top:5px;
  float:right;
}

.profile{
  color:#006d4a;
  border-radius: 5px;
  padding: 9px;
  margin-bottom: 15px;
  background-color: rgba( 255, 255, 255, 0.6 );
}


.log-in-out{
  margin:10px;
  float:right;
}

.log-in-out:after{
  content:"";
  display:block;
  clear:both;
}

/*Search component*/
.search{
  width: 280px;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
  padding: 10px
}

.search-in-this-page{}
.search-btn-comp{}
.search-btn{
  height: 30px;
  background: #006d4a;
  color: white;
  border-radius: 5px;
  margin:10px auto;
}

.search-btn.dis{
  background: #006d4a;;
  color: #eeeeee;
  opacity:0.2;
}

.search-or{
  height:20px;
  text-align:center;
}
.search-input{
  width:93%;
  margin-bottom:10px;
}

/*Result component*/
.result-list{
  margin:10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius:5px;
}

.result-entry{
  width:100%;
  padding:2px 0;
  color: #eeeeee;
}

.no-result-entry{
  font-size:15px;
  text-align:center;
  color: #fff4d6;
}

.result-entry:after{
  content:"";
  display:block;
  clear:both;
}

.view-more{
  margin:10px 0;
  cursor:pointer;
  text-decoration: underline;
}

.star {
  width:6%;
  float:left;
  color: grey;
}

.star:hover{
  cursor:pointer;
  color: #cdc587;
}

.star.true{
  color:orange;
}

/*favorite component*/

.favorite{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top:10px;
  width:100%;
}

.favorite-list{
  width:100%;
  margin:10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius:5px;
}

.favorite-entry{
  width:100%;
  height:20px;
  padding:2px 0;
}